body {
  font: 15px/1.5 'Oxygen', serif;
  padding: 0;
  margin: 0;
  background-color: #f38134;
}


/** HEADER **/
#header-nav {
    background-color: #454140;
    border-radius: 0;
    border: 0;
    border-bottom: #FF6600 3px solid;
}

#logo-img {
    background: url('../img/D2.png') no-repeat;
    width: 400px;
    height: 150px;
    margin: 0px;
}

.navbar-brand {
    padding-top: 25px;
}
 .navbar-brand h1 { /* Restaurant name */
        font-family: 'Lora', serif;
        color: #557c3e;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }

    .navbar-brand a:hover, .navbar-brand a:focus {
        text-decoration: none;
    }


#nav-list {
    margin-top: 10px;
}

    #nav-list a {
        color: #FF6600;
        text-align: center;
    }

        #nav-list a:hover {
            background: #E7E7E7;
        }

        #nav-list a span {
            font-size: 40px;
        }

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #FF6600;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

.jumbotron {
    min-height: 400px;
    background: url('../img/headerbg2.jpg') no-repeat center;
    background-size: cover;
    opacity: 03;
    text-align: center;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;

}
 



#menu-tile, #specials-tile {
    
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

  #menu-tile:hover, #specials-tile:hover {
        box-shadow: 0 1px 5px 1px #cccccc;
    }

#menu-tile {
    background-color:#FF6600;
    background: url('../img/tech.png') border-box no-repeat;
    background-position: center;
}

#specials-tile {
    
    background: url('../img/cloud.jpg') no-repeat;
    background-position: center;
}

    #menu-tile span, #specials-tile span {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-size: 1.6em;
        text-transform: uppercase;
        background-color: #454140;
        color: #fff;
        opacity: .8;
    }
#front {
    font-size: 70px;
    font-family: Britannic;
    text-align: center;
    font-kerning: auto;
    color: #454140;
}


footer {
    
    color: #ffffff;
    border-top: #FF6600 3px solid;
    background-color: #454140;
    text-align: center;
    margin-top:35px;
    width:100%;
}
#footer1 {
    margin-top: 250px;
}

/* END HOME PAGE */
/* contact */
#contact {
    background-color:#FFF;
    border: #FF6600 3px solid;
    width: 100%;
    padding: 25px;
    align-content:center;
    font-size: 20px;
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */
  #header-nav{
    width: 100%;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

#front {
    font-size: 50px;
    font-family: Britannic;
    text-align: center;
    font-kerning: auto;
    color: #454140;
}

#logo-img {
    background: url('../img/D2.png') no-repeat;
    width: 1000px;
    height: 150px;
    margin: 0px;
    padding: 0px;
}
}

